# Copyright 2026 上海如静知华信息科技有限公司 · https://www.zhuatech.cn/ · 微信 zhuatech / zhuatech2
# 用 scripts/init-env.py 生成独立密码，不把 .env 提交。
DATABASE_PASSWORD=
MYSQL_ROOT_PASSWORD=
ADMIN_PASSWORD=
WEB_PORT=8103
BIND_ADDRESS=127.0.0.1
COOKIE_SECURE=false
